@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.card {
  margin: -50px 2% 60px 2% !important;
}
.infected {
  border-bottom: 20px solid transparent;
  -moz-border-image: -moz-linear-gradient(left, #ED213A 0%, #93291E 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #ED213A 0%, #93291E 100%);
  border-image: linear-gradient(to right, #ED213A 0%, #93291E 100%);
  border-image-slice: 1;
}
.recovered {
    border-bottom: 20px solid transparent;
  -moz-border-image: -moz-linear-gradient(left, #38ef7d 0%, #11998e 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #38ef7d 0%, #11998e 100%);
  border-image: linear-gradient(to right, #38ef7d 0%, #11998e 100%);
  border-image-slice: 1;

}
.deaths {
  border-bottom: 20px solid transparent;
  -moz-border-image: -moz-linear-gradient(left, #bdc3c7 0%, #2c3e50 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #bdc3c7 0%, #2c3e50 100%);
  border-image: linear-gradient(to right, #bdc3c7 0%, #2c3e50 100%);
  border-image-slice: 1;
}
.loader {
  margin: 50px !important;
  font-size: 40px;
  align-self: center;
  margin: auto;
  justify-content: center;
  display: flex;
  font-family: "Pacifico";
}
